/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
.container{
    min-height: 100vh;
    max-width: 1400px;
    margin: 2rem auto;
    background-color: #b30000;
    padding: 0.5rem 2rem;
    border-radius: 10px;
}

.wrapper{
    min-height: 100vh; 
}

.img{
    max-width: 100%;
    height: auto;
}

/* Main content */
.main-container {
    border-radius: 10px;
    background-color: aliceblue;
    padding: 2rem;
}
    
.row {
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.col {
    flex-basis: 20%;
    height: 350px;
    padding: 1rem;
}